body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #062863;
  background-image: url(img/pic1.png), url(img/pic2.png), url(img/pic3.png),
    url(img/pic4.png);
  background-size: 15%, 15%, 15%, 15%;
  background-position: left -1% top -15%, right -7.5% top -1%,
    left -5% bottom -10%, right -5% bottom -5%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  line-height: 1.5;
  overflow: auto;
}

.container {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
p {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 1.25rem;
  color: #083e9e;
}

p {
  font-size: 0.79rem;
  color: #4a5568;
  font-family: sans-serif;
  font-weight: 400;
  letter-spacing: 0.035rem;
}

img {
  margin-bottom: 48px;
}

form {
  margin-top: 32px;
}

.form-content {
  background-color: #fff;
  padding: 40px 40px 48px;
  width: 370px;
  max-width: 28rem;
  border-radius: 1.25rem 1.25rem 1.25rem 0;
}

@media only screen and (max-width: 530px) {
    .form-content {
        width: 70%;
    }
}

input,
select {
  padding: 16px;
  background-color: #edf2f7;
  outline: none;
  border: none;
  border-radius: 0.25rem;
}

label {
  margin-bottom: 5px;
  font-size: 0.75rem;
  font-weight: 700;
  color: #4a5568;
}

.form-input {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.submit {
  color: red;
  text-align: center;
}

input[type="submit"] {
  width: 100%;
  background-color: rgb(8, 62, 158);
  color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  border-radius: 0.75rem 0.75rem 0.75rem 0;
  cursor: pointer;
}

.a-footer {
  margin-top: 32px;
  text-decoration: none;
}

.a-footer > p {
  color: #fff;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(img/iconfinder1.png) no-repeat right #edf2f7;
  background-position-x: 95%;
}
